@media (max-width: 1399.9px) {
    .nav {
        margin: 0 215px;
    }
}


@media (max-width: 1399.9px) {
    .nav {
        margin: 0 215px;
    }
}

@media (max-width: 1399.9px) {
    .nav {
        margin: 0 215px;
    }
}